
h1{
color: white;
text-align: center;
}
body{
background-color: #161616;

}
.video{
text-align: center;
}
.voltar{
text-align: center;

}

body{
    background-color: #161616;
}
.thumb{
    text-align: center;
}