@charset "utf-8";
/*typical device breakpoints
pequenas telas: até 600px
celular: de 600 até 768
tablet: 768 - 992
desktop: 992 - 1200
grandes telas: acima de 1200
*/

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    main{
        border: 2px solid black;
    }
    img#phone{ display: none;}
    img#tablet{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
    img#print{display: block;}

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{ display: none;}
    img#tablet{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
    img#print{display: none;}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{ display: none;}
    img#tablet{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
    img#print{display: none;}
}
@media screen and (min-width: 1200px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone{ display: none;}
    img#tablet{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
    img#print{display: none;}
}